<div class="container">
  <div class="jumbotron">
    <h1>Stard Dash Top</h1>
    <p>Topページです。</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed diam nunc, euismod dapibus maximus ut, porttitor sed ex. Curabitur consectetur ligula vitae nisl tempor, sed eleifend elit molestie. Etiam et libero vitae magna ullamcorper imperdiet non et erat. Vestibulum ut mauris lorem. Donec vitae nisl malesuada, facilisis tortor eget, facilisis erat. Curabitur sit amet mattis ex. Integer ultrices nulla at lacus lacinia laoreet. Aliquam dictum erat mauris, vitae faucibus turpis elementum id. Etiam viverra nulla vitae tortor pharetra ornare.</p>
    <p>
    <a class="btn btn-lg btn-primary" href="#" role="button">サインイン</a>
    </p>
  </div>
</div>
