<% if flash[:notice] %>
  <div class="alert alert-success"><%= notice %></div>
<% end %>
<% if flash[:error] %>
  <div class="alert alert-danger"><%= flash[:error] %></div>
<% end %>
<% if flash[:alert] %>
  <div class="alert alert-danger"><%= alert %></div>
<% end %>
