<%%= bootstrap_form_for(@<%= singular_table_name %>) do |f| %>
  <%%= render "shared/errors", object: @<%= singular_table_name %> %>

<% attributes.each do |attribute| -%>
<% if attribute.password_digest? -%>
  <%%= f.password_field :password %>
  <%%= f.password_field :password_confirmation %>
<% else -%>
  <%%= f.<%= attribute.field_type %> :<%= attribute.column_name %> %>
<% end -%>
<% end -%>
  <div class="actions">
    <%%= f.submit %>
  </div>
<%% end %>
